<h1>Become a Cat-Renter! Cool!</h1>

  <%= render "shared/errors" %>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]">

  <label for="password">Password:</label>
  <input type="password" name="user[password]">

  <input type="submit" value="register user">
</form>
